<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CRUD em Django com Class Based Views - Web1</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background: #f4f6f8;
            margin: 0;
            line-height: 1.6;
        }
        header {
            background: #092e20;
            color: #ffffff;
            padding: 30px;
            text-align: center;
        }
        main {
            max-width: 1100px;
            margin: 30px auto;
            background: #ffffff;
            padding: 35px;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,.1);
        }
        h1, h2, h3 {
            color: #092e20;
        }
        h2 {
            margin-top: 40px;
            border-bottom: 2px solid #e0e0e0;
        }
        pre {
            background: #1e1e1e;
            color: #dcdcdc;
            padding: 15px;
            border-radius: 6px;
            overflow-x: auto;
            font-size: 14px;
        }
        .box {
            background: #f9fafb;
            border-left: 5px solid #44b78b;
            padding: 15px;
            margin: 20px 0;
        }
        footer {
            text-align: center;
            margin-top: 40px;
            color: #666;
            font-size: 14px;
        }
        .box1 {
            background: #ffc222;
            border-left: 5px solid #44b78b;
            padding: 15px;
            margin: 20px 0;
        }
        

    </style>
</head>
<body>

<header>
    <h1>CRUD em Django</h1>
    <p>Class Based Views • Forms • Django </p>
</header>

<main>
<div class="box">
<pre>
   Antes de começar abra o terminal e crie uma pasta com seu-nome-data( ex: fabio-22-02)
    1. entre na pasta criada e siga os passos abaixo: 
    2. certifique se o python e pip estão instalados na sua máquina (digite no terminal o codigos abaixo)
    pip -version 
    python -version
</pre>
</div>


<h2>1. Criar e ativar o Virtualenv</h2>
<div class="box">
<pre>
1.1 - criar virtualenv
python -m venv venv

1.2 - ativar virtualenv
# Linux / Mac
source venv/bin/activate

# Windows
venv\Scripts\activate
</pre>
</div>

<h2>2. Instalar dependências</h2>
<div class="box">
<pre>
pip install django python-dotenv
</pre>
</div>

<h2>3. Criar projeto e app</h2>
<div class="box">
<pre>
#projeto = nome do seu projeto
django-admin startproject projeto
cd projeto
#clientes = nome do seu app
python manage.py startapp clientes
</pre>
</div>

<h2> ABRA O VSCODE</h2>
<div class="box">
<pre>
    code . 
</pre>
</div>

<h2>4. Configurar o settings.py</h2>
<div class="box">
<pre>
# editar na pasta do projeto o arquivo settings.py
#incluir: 
    import os
#colocar no item Templates
    'DIRS': [os.path.join(BASE_DIR, 'templates')],  
#incluir o nome do app na lista
INSTALLED_APPS = [
    ...
    'clientes',
]   
</pre>
</div>



<h2> 6. Model</h2>
<div class="box">
# dentro do app clientes edite o arquivo models.py
    <pre>

from django.db import models

class Cliente(models.Model):
    nome = models.CharField(max_length=100)
    email = models.EmailField()

    def __str__(self):
        return self.nome
</pre>
</div>

<h2>6. Form (Django Forms) </h2>
## dentro do app clientes edite o arquivo forms.py, se não existir crie o arquivo forms.py
<div class="box">
<pre>
# clientes/forms.py
from django.forms import ModelForm
from .models import Cliente

class ClienteForm(ModelForm):
    class Meta:
        model = Cliente
        fields = ["nome", "email"]
</pre>
</div>

<h2>7. Views (Class Based Views) </h2>
<li>inclua todos os codigos abaixo  arquivo views.py dentro do app clientes</li>
<li>cada bloco de código representa uma operação CRUD</li> 
<li>lembre-se de ajustar os nomes dos templates conforme necessário</li>
<li>certifique-se de importar os módulos corretos no início do arquivo</li>
<li>o uso de reverse_lazy é importante para evitar problemas de importação circular</li>


<h3>7.1 - READ – ListView</h3>
<div class="box">
<pre>
# clientes/views.py
from django.views.generic import ListView, CreateView, UpdateView, DeleteView
from django.urls import reverse_lazy
from .models import Cliente
from .forms import ClienteForm

class ClienteListView(ListView):
    model = Cliente
    template_name = "clientes/lista.html"
    context_object_name = "clientes"
</pre>
</div>

<h3>7.2 - CREATE – CreateView</h3>
<div class="box">
<pre>
class ClienteCreateView(CreateView):
    model = Cliente
    form_class = ClienteForm
    template_name = "clientes/form.html"
    success_url = reverse_lazy("lista")
</pre>
</div>

<h3>7.3 - UPDATE – UpdateView</h3>
<div class="box">
<pre>
class ClienteUpdateView(UpdateView):
    model = Cliente
    form_class = ClienteForm
    template_name = "clientes/form.html"
    success_url = reverse_lazy("lista")
</pre>
</div>

<h3>7.4 - DELETE – DeleteView</h3>
<div class="box">
<pre>
class ClienteDeleteView(DeleteView):
    model = Cliente
    template_name = "clientes/excluir.html"
    success_url = reverse_lazy("lista")
</pre>
</div>

<h2>8. criação da URLs</h2>
- dentro do app clientes crie o arquivo urls.py e inclua o código abaixo
<div class="box">
<pre>
# clientes/urls.py
from django.urls import path
from .views import (
    ClienteListView,
    ClienteCreateView,
    ClienteUpdateView,
    ClienteDeleteView
)

urlpatterns = [
    path("", ClienteListView.as_view(), name="lista"),
    path("novo/", ClienteCreateView.as_view(), name="criar"),
    path("editar/&lt;int:pk&gt;/", ClienteUpdateView.as_view(), name="editar"),
    path("excluir/&lt;int:pk&gt;/", ClienteDeleteView.as_view(), name="excluir"),
]
</pre>
</div>
<h2>9 - criar a pasta TEMPLATES</h2>
<div class="box">
<pre>
    1.1 - criar pasta 'templates' na raiz do projeto
    1.2 - criar pasta 'clientes' dentro de 'templates'
    1.3 - criar arquivos excluir.html, form.html, lista.html dentro de 'templates/clientes 
</pre>
</div>


<h2>10. Templates básicos</h2>
#dentro da pasta templates/clientes adicione o codigo abaixo nos arquivos lista.html, form.html, excluir.html
<div class="box">
<pre>
&lt;!-- lista.html --&gt;
{% for c in clientes %}
  {{ c.nome }} - {{ c.email }}
  &lt;a href="{% url 'editar' c.pk %}"&gt;Editar&lt;/a&gt;
  &lt;a href="{% url 'excluir' c.pk %}"&gt;Excluir&lt;/a&gt;
{% endfor %}
</pre>
</div>

<div class="box">
<pre>
&lt;!-- form.html --&gt;
&lt;form method="post"&gt;
  {% csrf_token %}
  {{ form.as_p }}
  &lt;button type="submit"&gt;Salvar&lt;/button&gt;
&lt;/form&gt;
</pre>
</div>

<div class="box">
<pre>
&lt;!-- excluir.html --&gt;
&lt;p&gt;Deseja excluir {{ object.nome }}?&lt;/p&gt;
&lt;form method="post"&gt;
  {% csrf_token %}
  &lt;button type="submit"&gt;Excluir&lt;/button&gt;
&lt;/form&gt;
</pre>
</div>


<h2>11. Configurar URLs do projeto</h2>
<div class="box">
   # adicionar no arquivo urls.py do projeto as urls do app clientes  
<pre>
    
  urlpatterns = [
    path('',include('clientes.urls')),
    path('admin/', admin.site.urls),
]
</pre>


<h2>12. Migrar e executar o projeto</h2>
<div class="box">
<pre>
#migra o do banco de dados
    python manage.py makemigrations
    python manage.py migrate
#roda o servidor
    python manage.py runserver
#abra o browser e acesse o endereço
    http://127.0.0.1:8000/
    http://127.0.0.1:8000/clientes/novo/
    http://127.0.0.1:8000/clientes/editar/1/
    http://127.0.0.1:8000/clientes/excluir/1/
   
    OBS : substitua o número 1 pelo id do cliente cadastrado
    

</pre>
</div>
<h2>13. habilitar Admin e criar usuario</h2>
<div class="box">
<pre>
# criar usuario admin
    python manage.py createsuperuser
# acessar o admin
    http://127.0.0.1:8000/admin/
#habilitar o model Cliente no admin
# dentro do arquivo admin.py do app clientes
    from django.contrib import admin
    from .models import Cliente
    admin.site.register(Cliente)

# alterar o display do admin
  #no arquivo admin.py do app clientes 
    from django.contrib import admin
    from .models import Cliente

    @admin.register(Cliente)
    class ClienteAdmin(admin.ModelAdmin):
        list_display = ('nome', 'email')
    
</pre>
</div>

<h2>14. Criar pagina principal para acessar o app</h2>
<div class="box">
<pre>
# dentro da pasta templates crie o arquivo index.html
    &lt;!-- index.html --&gt;
    &lt;h1&gt;Bem-vindo ao sistema de clientes&lt;/h1&gt;
    &lt;a href="{% url 'lista' %}"&gt;Gerenciar Clientes&lt;/a&gt;
</pre>
 <pre>
# dentro do arquivo urls.py do app clientes
    from . import views
    urlpatterns = [
        path('', views.index, name='index'),
       ...,
        ...
    ]
 </pre>
</div>
<div class="box1">   
    <h2>AVALIAÇÃO - PRÁTICA WEB - 01</h2>
    <h3>1 - È proibido a utilização de consultas externas a esse material. </h3>
    <h3>2 - no terminal crie uma pasta com seu-nome-prova-web-01 e dentro dela desenvolva o projeto</h3>
</div>
<div class="box">
# QUESTÃO 01
 <pre>
     - dentro da pasta templates crie uma página inicial para acessar tanto o app clientes quanto o app produtos
</pre>

# QUESTÃO 02
<pre>
     - crie um novo app chamado produtos e configure o CRUD para um modelo Produto com os campos nome, preço e descrição, quantidade, preco de compra, preco de venda, data de validade, os campos nome e preço devem ser obrigatórios.
</pre> 

# QUESTÃO 03
 <pre>
    - adicione um campo de data de criação ao modelo Cliente e exiba essa informação na lista de clientes
</pre>    

# QUESTÃO 04 
<pre>
   - adicione um campo de telefone ao modelo Cliente e atualize os formulários e templates para incluir esse campo 
</pre>

# QUESTÃO 05
<pre>       
   - coloque css para deixar a aplicação mais bonita
</pre>

# QUESTÃO 06
<pre>
   - insira dados em ambos apps e teste as operações de CRUD para garantir que tudo esteja funcionando corretamente
</pre>

# QUESTÃO 07
<pre>
  - crie um superusuário e acesse o painel de administração do Django para gerenciar os dados dos clientes e produtos
</pre>

# QUESTÃO 08 
<pre>
  - ao final sincronize o projeto no seu repositório do github e coloque o link na sua avaliação 
</pre>
<div class="box1">
Forma de entrega e observações importantes para a avaliação
<pre>
   Forma de entrega:
   - entrega: envie o link do seu repositório no github para o email: fabio.lima@ifbaiano.edu.br
   - faça um print da tela de projeto rodando no browser e envie junto com o link do github
   Observações importantes: 
     - o projeto deve estar público no github para que eu possa acessar e avaliar
     - o projeto deve conter o código completo, incluindo os arquivos de configuração, modelos, views, templates e urls
     - o projeto deve estar funcionando corretamente, ou seja, todas as operações de CRUD devem estar funcionando sem erros
     - a cada questão salve o projeto para não perder o codigo 
</pre>
</div>
        boa sorte a todos!

</main>

<footer>
    <p>CRUD em Django com Class Based Views</p>
</footer>

</body>
</html>
